.text-center{
    margin-top: 100px;
    margin-bottom: 50px;
}

#video{
    margin-top: 100px;
    margin-bottom: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.col{
    margin-top: 50px;
    margin-bottom: 50px;
}

.body{
    width: 100%;
   }

.footer {
    background-color: black;
    color: white;
    text-decoration-color: white;
    padding: 1rem;
    text-align: center;
    }           
      